glob:**.o
glob:**.lo
glob:**.a
glob:**.la
.libs
.deps
glob:Makefile
Makefile.in
m4
glob:config.*
glob:configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
doc/html
ela.pc
glob:test/fd
glob:test/fd_timeout
glob:test/timeout
